body {
    background: #c0c0c0;
    border:0 none;
}

#instructions
{
    background: #fff;
    padding: 16px;
    margin-left: auto;
    margin-right: auto;
    min-height: 480px;
    width: 631px;
    border: solid black 1px;
}
#instructions.wide {
  width: 731px;
}

#experiment_frame
{
    background: #fff;
    margin-left: auto;
    margin-right: auto;
    width:641px;
    height: 500px;
    border: solid black 1px;
}

#header
{
	height: 120px;
}

#left_cat
{
	font-size: 1.5em;
	margin: 15px;
	float: left;
	text-align: center;
}

#right_cat
{
	font-size: 1.5em;
	margin: 15px;
	float: right;
	text-align: center;
}

#exp_instruct
{
    margin: 15px;
}

#under_instruct
{
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    width: 600px;
}

.itemdiv
{
	margin-left: auto;
	margin-right: auto;
}

.IATitem
{
	font-size: 1.5em;
	margin-left: auto;
	margin-right: auto;
	height: 200px;
	display: none;
}

#word {
	max-height: 115px;
	text-align: center;
	padding-top: 85px;
}
#wrong
{
	margin-left: auto;
	margin-right: auto;
	height: 80px;
	display: none;
}

h2 {
  text-align: center;
}
input[type=submit] {
  color: #fff;
  background-color: #337ab7;
  border-color: #2e6da4;
  border-radius: 4px;
  font-size: inherit;
}

.example-table td:first-child {
  width: 27%;
}
